
.App {
  text-align: center;

}
.fontawesome_icon{
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
.nav_pages{
  display: flex;
}

@media screen and (max-width:1000px){
  .nav_pages{
    display: flex;
    flex-direction: column;
  }

}

